<h1>Карточки</h1>

<table>
  <thead>
  	<tr>
	  <th>На английском</th>
	  <th>На русском</th>
	  <th>Последняя проверка</th>
  	</tr>
  </thead>

  <tbody>
  	<% @cards.each do |c| %>
  	  <tr>
  	    <td><%= c.original_text %></td>
  	    <td><%= c.translated_text %></td>
  	    <td><%= get_formated_time(c.review_date) %></td>
  	  </tr>
  	<% end %>
  </tbody>
</table>

<br>

<p>На сегодня все!</p>