<h1>Decks#choose</h1>
<p>Find me in app/views/decks/choose.html.erb</p>
<% @decks.each do |deck| %>
  <li><b><%= link_to deck.name, switch_deck_path(deck), method: :post %></b> / <%= link_to t('views.card.index.edit'), deck_path(deck) %></li>
<% end %>

<%= link_to t('decks.new_deck'), new_deck_path %>